/* Color:   #607ff2   */

* {
    color: black;
}

.col-sm-3 ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DEE2ED;
}

ul li {
    list-style: none;
    display: inline-block;
}

#content {
    background-color: #F5F5F5;
}

ul li a {
    text-decoration: none;
    font-size: 35px;
    padding: 0 5px;
    line-height: 45px;
    transition: 0.2s ease-in-out;
}

nav ul li .social i {
    color: white;
}

.social {
    text-align: center;
}

.body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.input-group button i {
    color: white;
}

#nav-title {
    color: white;
}

#nav-title:hover {
    color: #607ff2;
    transition: 0.3s ease-in-out;
}

nav ul li:hover {
    transform: scale(1.1);
    color: #607ff2;
}

nav ul li .social i:hover {
    color: #607ff2;
}

.navbar-brand {
    font-size: 45px;
}

div.stars {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=radio] {
    appearance: none;
    margin: 0;
    box-shadow: none;
    /* remove shadow on invalid submit */
}


/* generated content is supported on input. */

input[type=radio]::after {
    content: '\2605';
    font-size: 32px;
}


/* by default, if no value is selected, all stars are grey */

input[type=radio]:invalid::after {
    color: #ddd;
}


/* if the .stars has focus or is hovered, make all stars darker */

.stars:hover input[type=radio]:invalid::after,
.stars:focus-within input[type=radio]:invalid::after {
    color: #888;
}


/* make all the stars after the focused one light grey, until a value is selected */

.stars:hover input[type=radio]:hover~input[type=radio]:invalid::after,
.stars input[type=radio]:focus~input[type=radio]:invalid::after {
    color: #ddd;
}


/* if a value is selected, make them all selected */

.stars input[type=radio]:valid {
    color: orange;
}


/* then make the ones coming after the selected value look inactive */

.stars input[type=radio]:checked~input[type=radio]:not(:checked)::after {
    color: #ccc;
    content: '\2606';
    /* optional. hollow star */
}

.list_container {
    box-shadow: 10px 10px 10px 5px grey;
    margin-top: 25px;
    height: 80vh;
}

button i {
    color: rgb(39, 36, 36);
}

.left {
    border-right: 1px solid rgb(196, 193, 193);
    width: 7%;
    height: 90%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.left #modal_prompt button {
    height: 45px;
    width: 45px;
}

.right {
    width: 93%;
    height: 90%;
    padding: 0 25px;
}

.right .right-top {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

.right .right-bottom {
    height: 95%;
    width: 100%;
    overflow-y: auto;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 2000fr);
}

.items {
    border: #607ff2 solid 1px;
    border-radius: 20px;
    height: 250px;
    width: 95%;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 5px 5px 5px 3px grey;
}

.items:first-child,
.items:nth-child(2) {
    margin-top: 0px;
}

.items .row .item-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.row .col-sm-12 i {
    font-size: 35px;
    padding: 3px;
}

.row .col-sm-12 i:first-child {
    margin-left: 0px;
}

.row .padding_remove {
    padding-left: 0;
}

form .modal-footer #modal_submit,
form .modal-footer #modal_close {
    width: 25%;
}

.clock {
    margin: 10px 10px;
    text-align: center;
    color: white;
    height: min-content;
}

.clock #date {
    color: white;
    height: 20%;
    margin: 0;
}

.clock #time {
    font-family: "Micro 5", sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: white;
    height: 80%;
    margin: 0;
}

@media screen and (max-width:1030px) {
    ul li a {
        font-size: 30px;
    }
    .items:nth-child(2) {
        margin-top: 15px;
    }
    .left button {
        height: 25px;
        width: 25px;
    }
    .left {
        width: 10%;
    }
    .right {
        width: 90%;
    }
    .items {
        height: 280px;
    }
}

@media screen and (max-width:990px) {
    .right .right-bottom {
        grid-template-columns: repeat(1, 1fr);
    }
    .list_container {
        height: 75vh;
    }
}

@media screen and (max-width:768px) {
    .left {
        width: 15%;
    }
    .right {
        width: 85%;
    }
}

@media screen and (max-width:677px) {
    ul li a {
        font-size: 22.5px;
        text-align: right;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width:575px) {
    ul li a {
        font-size: 45px;
    }
    .social {
        text-align: center;
        margin-top: 10px;
    }
    form .modal-footer {
        display: flex;
        justify-content: center;
    }
    form .modal-footer #modal_submit,
    form .modal-footer #modal_close {
        width: 90%;
    }
}

@media screen and (max-width:300px) {
    .navbar-brand {
        font-size: 25px;
    }
}